body {
  background-color: rgb(250, 218, 224);
}
.navbar {
  width: 600px;
  height: 50px;
  background-color: white;
  border: 3px solid lightpink;
  position: absolute;
  left: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightpink;
}
a {
  color: rgb(237, 132, 153);
}
a:hover {
  color: pink;
}
a:active {
  color: lightpink;
}

.form {
  position: absolute;
  top: 140px;
  left: 305px;
  width: 200px;
  height: 300px;
  border: 3px solid lightpink;
  background-color: white;
  box-shadow: 2px 2px 5px lightpink;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px;
}

.button {
  background-color: white;
  color: rgb(237, 132, 153);
  border: 1px solid lightpink;
  box-shadow: 1px 1px 3px lightpink;
}
.LoginText {
  color: rgb(237, 132, 153);
}

.responsiveText {
  width: 200px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 140px;
  left: 700px;
  padding: 5px;
  color: rgb(237, 132, 153);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightpink;
  border: 3px solid lightpink;
}

.image {
  width: 100px;
  height: 150px;
  position: relative;
  top: 500px;
  left: 530px;
  border-radius: 8px;
}
.imageRoses {
  min-height: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.thisisatext {
  position: absolute;
  color: white;
  z-index: 2;
  top: 3px;
  left: 10px;
}
.gridLayout {
  position: absolute;
  top: 200px;
  left: 950px;
  border: 1px solid red;
  width: 400px;
  height: 150px;
  background-color: white;
  border: 3px solid lightpink;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightpink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  grid-template-rows: 1fr 1fr;
}
button {
  padding: 5px;
}
p {
  padding: 2px;
}
